doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Internet-shop")
        meta(name="author" content="Melnikov Sergey")
        title Ноутбуки - интернет магазин
        link(rel="icon" href="../icon/favicon.png" type="image/x-icon")
        link(rel="stylesheet", href="css/normalize-min.css")
        link(rel="stylesheet" href="css/style.css")
    body
        .container
            nav
                ul.menu
                    li.item
                        a(href="index.html") Главная
                    li.item
                        a(href="catalog.html") Каталог
                    li.item
                        a(href="contacts.html") Контакты
            .title
                h1 Ноутбук Asus F507UF-EJ393T
            .images
                a(href="img/jpg/Asus/F507UF_1.jpg" target="_blank")
                    img(src="img/jpg/Asus/F507UF_1.jpg", alt="Asus F507UF")
                a(href="img/jpg/Asus/F507UF_2.jpg" target="_blank")
                    img(src="img/jpg/Asus/F507UF_2.jpg", alt="Asus F507UF")
                a(href="img/jpg/Asus/F507UF_3.jpg" target="_blank")
                    img(src="img/jpg/Asus/F507UF_3.jpg", alt="Asus F507UF")
            .descr
                h3 Краткое описание товара
                .descr_short 
                    p Ноутбук ASUS Laptop X507UF - это мультимедийный ноутбук для повседневного использования
                .descr_specifications
                    h3 Характеристики товара
                    ul
                        li
                            span Гарантийный срок
                            span 1 год
                        li
                            span Модель
                            span 90NB0JB2-M04790
                        li
                            span Версия операционной системы
                            span Windows 10
                        li
                            span Разрешение экрана, px
                            span 1920x1080
                        li
                            span Процессор
                            span Intel Core i3 7020U
                        li
                            span Количество ядер процессора
                            span 2
                        li
                            span Объем оперативной памяти
                            span 6 ГБ
                .descr_full
                    h3 Подробное описание товара
                    p Ноутбук ASUS Laptop X507UF объединяет в себе стильный дизайн с современными технологиями. Он предлагает пользователю всю мощь процессора Intel Core i3 в сочетании с видеокартой NVIDIA GeForce MX130 и оперативной памятью DDR4 объемом 6 ГБ.
            .links
                a.links_prev(href="hp.html") Предыдущий товар
                a.links_next(href="lenovo.html") Следующий товар
            hr
        footer
            .copyright Все права защищены &copy; 2020 &nbsp; 
                a(href="https://geekbrains.ru" target="_blank") GeekBrains


