doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Internet-shop")
        meta(name="author" content="Melnikov Sergey")
        title Ноутбуки - интернет магазин
        link(rel="icon" href="../icon/favicon.png" type="image/x-icon")
        link(rel="stylesheet", href="css/normalize-min.css")
        link(rel="stylesheet" href="css/style.css")
    body
        .container
            nav
                ul.menu
                    li.item
                        a(href="index.html") Главная
                    li.item
                        a(href="catalog.html") Каталог
                    li.item
                        a(href="contacts.html") Контакты
            .title
                h1 Ноутбук HP Envy 13-ah0008ur
            .images
                a(href="img/jpg/hp/1.jpg" target="_blank")
                    img(src="img/jpg/hp/1.jpg", alt="hp")
                a(href="img/jpg/hp/2.jpg" target="_blank")
                    img(src="img/jpg/hp/2.jpg", alt="hp")
                a(href="img/jpg/hp/3.jpg" target="_blank")
                    img(src="img/jpg/hp/3.jpg", alt="hp")
            .descr
                h3 Краткое описание товара
                .descr_short 
                    p Мощный легкий ноутбук премиум-класса в металлическом корпусе, с тонкими рамками и ярким экраном IPS FHD
                .descr_specifications
                    h3 Характеристики товара
                    ul
                        li
                            span Гарантийный срок
                            span 1 год
                        li
                            span Модель
                            span Envy 13-ah0008ur
                        li
                            span Версия операционной системы
                            span Windows 10 Home
                        li
                            span Разрешение экрана, px
                            span 1920x1080
                        li
                            span Процессор
                            span Intel Core i7 8550U
                        li
                            span Количество ядер процессора
                            span 4
                        li
                            span Объем оперативной памяти
                            span 16 ГБ
                .descr_full
                    h3 Подробное описание товара
                    p Ноутбук HP Envy 13-ah0008ur обеспечивает высокую производительность благодаря быстрому твердотельному накопителю PCIe, объёму оперативной памяти и новейшему процессору Intel, а четыре динамика HP с глубокими басами и профессиональная аудиосистема Bang & Olufsen задают новый уровень качества развлечений. Смотрите видео, редактируйте фотографии и играйте в нетребовательные игры благодаря дискретной видеокарте от NVIDIA.
            .links
                a.links_prev(href="lenovo.html") Предыдущий товар
                a.links_next(href="asus.html") Следующий товар
            hr
        footer
            .copyright Все права защищены &copy; 2020 &nbsp; 
                a(href="https://geekbrains.ru" target="_blank") GeekBrains


