doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Internet-shop")
        meta(name="author" content="Melnikov Sergey")
        title The Best - Ноутбуки
        link(rel="icon" href="icon/favicon.png" type="image/x-icon")
        link(rel="stylesheet", href="css/normalize-min.css")
        link(rel="stylesheet" href="css/style.css")
    body
        .container
            nav
                ul.menu
                    li.item
                            a(href="#") Главная
                    li.item
                        a(href="catalog.html") Каталог
                    li.item
                        a(href="contacts.html") Контакты
            hr
            //- h1  The Best
            //- p.main Магазин The Best по продажи ноутбуков. Мы предлагаем широкий ассортимент компьютерной техники профессионального уровня, по ценам гораздо ниже рыночных.
            //- p.main Уровень современных топовых компьютеров и ноутбуков делает необязательным постоянно приобретать новое оборудование. Поскольку большинство приложений и задач больше не требуют новейшего hardware, мы предлагаем пользователям экологически и экономически разумную альтернативу новому устройству — постлизинговый товар с гарантией как на новый — 12 месяцев.
            //- p.main Мы сфокусированы на продаже высококачественных ноутбуков топовых брендов, (Lenovo, ASUS и HP). Модели, которые мы продаем – это исключительно высококачественные устройства бизнес класса, которые были созданы для долголетней и комфортной работы.
        footer
            hr
            .copyright Все права защищены &copy; 2020  &nbsp; 
                a(href="https://geekbrains.ru" target="_blank") GeekBrains


