doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Internet-shop")
        meta(name="author" content="Melnikov Sergey")
        title Ноутбуки - интернет магазин
        link(rel="icon" href="../icon/favicon.png" type="image/x-icon")
        link(rel="stylesheet", href="css/normalize-min.css")
        link(rel="stylesheet" href="css/style.css")
    body
        .container
            nav
                ul.menu
                    li.item
                        a(href="index.html") Главная
                    li.item
                        a(href="catalog.html") Каталог
                    li.item
                        a(href="contacts.html") Контакты
            .title
                h1 Ноутбук Lenovo IdeaPad L3  
            .images
                a(href="img/jpg/Lenovo/IdeaPad_1.jpg" target="_blank")
                    img(src="img/jpg/Lenovo/IdeaPad_1.jpg", alt="Lenovo IdeaPad L3")
                a(href="img/jpg/Lenovo/IdeaPad_2.jpg" target="_blank")
                    img(src="img/jpg/Lenovo/IdeaPad_2.jpg", alt="Lenovo IdeaPad L3")
                a(href="img/jpg/Lenovo/IdeaPad_3.jpg" target="_blank")
                    img(src="img/jpg/Lenovo/IdeaPad_3.jpg", alt="Lenovo IdeaPad L3")
            .descr
                h3 Краткое описание товара
                .descr_short 
                    p Ноутбук Lenovo IdeaPad L3 оснащен процессором Intel, поэтому он легко справится с любой задачей
                .descr_specifications
                    h3 Характеристики товара
                    ul
                        li
                            span Гарантийный срок
                            span 1 год
                        li
                            span Модель
                            span 81Y3001TRK
                        li
                            span Версия операционной системы
                            span Free DOS
                        li
                            span Разрешение экрана, px
                            span 1920x1080
                        li
                            span Процессор
                            span Intel Celeron 5205U
                        li
                            span Количество ядер процессора
                            span 2
                        li
                            span Объем оперативной памяти
                            span 4 ГБ
                .descr_full
                    h3 Подробное описание товара
                    p Ноутбук Lenovo IdeaPad L3 создан для повышения продуктивности вашей работы и для развлечений в дороге. Он поддерживает передовую технологию Dolby Audio. Такая технология обеспечивает действительно великолепное звучание с богатым, чистым и мощным звуком в любом месте и в любых ситуациях: от воспроизведения фильмов и игр до прослушивания подкастов и музыки.
            .links
                a.links_prev(href="Asus.html") Предыдущий товар
                a.links_next(href="hp.html") Следующий товар
            hr
        footer
            .copyright Все права защищены &copy; 2020 &nbsp; 
                a(href="https://geekbrains.ru" target="_blank") GeekBrains



