<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Онлайн магазин
    body
        header.header 
        
            

            a(href="index.html") Главная страница
            span Интернет магазин 
        br

        main.main 
            h1.title Мой интернет магазин
            img(src="images/promo.jpg", alt="promo")
            

        footer.footer Здесь подвал сайта